.*
*.aux
*.gz
*.aux
*.backup 
*.log
*.kilepr
*.toc
*.out
*.acn
*.acr
*.alg
*.brf
*.pdf
*.xdy
*.bbl
*.blg
*.idx
*.ind
*/figures
*.sh
*.glo
*.ilg
*.ist
agreement.jpg
dlbook_cn_public.tex
dlbook_cn_public.bib
font
docs/_site/
docs/images/

main.bib
main.tex

!donation.pdf

